federal/process-and-tasking/src/Workflows/MSF-PAT-SaveToCollaborationSpace-1E230EDE-0B88-EF11-AC21-001DD80278EC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfed_sharedcommondataserviceforapps_d7f8d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfed_sharedsharepointonline_49354"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "85d5050d-1287-4c59-9d4a-ae8f05afa9d4"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Collaboration Space ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "file": {
                  "title": "File Content",
                  "type": "object",
                  "x-ms-dynamically-added": true,
                  "description": "Please select file or image",
                  "x-ms-content-hint": "FILE",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "contentBytes": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "File Name",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Collaboration_Space": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "def858a9-12e5-4e73-a064-35f218bfae9a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "govcdm_collaborationspaces",
              "recordId": "@triggerBody()['text']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Save_File": {
          "runAfter": {
            "Collaboration_Space": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "@body('Collaboration_Space')?['govcdm_sharepointsite']",
              "folderPath": "@body('Collaboration_Space')?['govcdm_sharepointfolderpath']",
              "name": "@triggerBody()?['text_1']",
              "body": "@triggerBody()?['file']?['contentBytes']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "CreateFile",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Create_Link": {
          "runAfter": {
            "Save_File": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "@body('Collaboration_Space')?['govcdm_sharepointsite']",
              "table": "Documents",
              "id": "@outputs('Save_File')?['body/ItemId']",
              "permission/type": "edit",
              "permission/scope": "organization"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "CreateSharingLink",
              "connectionName": "shared_sharepointonline"
            }
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Create_Link": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "title": "URL",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "filepath": {
                  "title": "FilePath",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "url": "@{outputs('Create_Link')?['body/link/webUrl']}",
              "filepath": "@{outputs('Collaboration_Space')?['body/govcdm_sharepointsite']}@{outputs('Save_File')?['body/Path']}"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}