cross-module/process-and-tasking/src/Workflows/GetActionAssignmentsforRecord-177A56F4-CAE0-EE11-904D-0022481C9844.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msgov_sharedcommondataserviceforapps_d7f8d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "8353dca1-8b5a-469d-b325-2911508601ce"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Record ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your record id",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Entity Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your entity name",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Action_Assignments": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "edfba438-700c-4628-9165-854cce0f9918"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "govcdm_actionassignments",
              "$select": "activityid, subject, ",
              "$filter": "_regardingobjectid_value eq '@{triggerBody()['text']}'"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Select": {
          "runAfter": {
            "Get_Action_Assignments": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b8ea5cd8-6708-4c12-83f5-c8f23a14592d"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Get_Action_Assignments')?['body/value']",
            "select": {
              "title": "@item()?['subject']",
              "activityid": "@item()?['activityid']"
            }
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0644306a-f193-4923-b66c-2c28452a6437"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "@string(body('Select'))",
              "primary": "@outputs('Compose')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "primary": {
                  "title": "Primary",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Get_Primary_Action_Assignment": {
          "runAfter": {
            "Select": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cdbbbd45-5ca0-42a3-8ade-7fbc38508360"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "@triggerBody()?['text_1']",
              "recordId": "@triggerBody()?['text']",
              "$select": "msgov_PrimaryActionAssignment",
              "$expand": "msgov_PrimaryActionAssignment($select=activityid)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Get_Primary_Action_Assignment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "84ba636d-59d9-47cc-a41b-1c1932f72896"
          },
          "type": "Compose",
          "inputs": "@body('Get_Primary_Action_Assignment')?['msgov_PrimaryActionAssignment']?['activityid']"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}