cross-module/process-and-tasking/src/Workflows/MSF-PAT-GetSharePointFolder-F193DFC1-0472-F011-BEC2-001DD80408B4.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msgov_sharedsharepointonline_49354"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ef7bf64b-e022-4c2d-ac0f-a41b3d36c469"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Site URL",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Folder Path",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Try_Get_Folder": {
          "actions": {
            "Get_Folder_Info": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d6a1f86b-367f-4790-b772-6a281c742952"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetFolderMetadataByPath",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@triggerBody()?['text']",
                  "path": "Shared Documents/@{decodeUriComponent(triggerBody()?['text_1'])}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3679faad-1dc3-4fc6-8929-a3d98a49c273"
          },
          "type": "Scope"
        },
        "Folder_Info": {
          "runAfter": {
            "Handle_Error": [
              "Succeeded",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "be99b97c-b921-4a2e-a477-bf93ee682989"
          },
          "type": "Compose",
          "inputs": "@if(equals(result('Try_Get_Folder')[0]['status'], 'Succeeded'), outputs('Get_Folder_Info')?['body'], null)"
        },
        "Respond": {
          "runAfter": {
            "Folder_Info": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a9c3377-5429-47e0-8545-238d01e71bc0"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "@{outputs('Folder_Info')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Handle_Error": {
          "actions": {
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e2d8f21d-389c-49f8-8aa9-7efef8523719"
              },
              "type": "Compose",
              "inputs": {}
            }
          },
          "runAfter": {
            "Try_Get_Folder": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "c455febe-ead3-4356-9745-8e8f9f4c20a5"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}