cross-module/process-and-tasking/src/Workflows/MSF-PAT-CollaborationSpaceCreated-SharePointFolder-A85DCCD9-0072-F011-BEC2-001DD80A93B8.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msgov_sharedcommondataserviceforapps_d7f8d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Collaboration_Space_Created": {
          "metadata": {
            "operationMetadataId": "912ddfe0-dab4-48f8-a9b4-a9f3a34ae21b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "govcdm_collaborationspace",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "govcdm_virtualrecordid ne null and govcdm_collaborationspacetype eq 166840001",
              "subscriptionRequest/name": "10b3b141-7e86-ef11-ac21-001dd80278ec"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Get_Primary_Record": {
          "runAfter": {
            "varPrimaryRecordDisplayField": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d695a2ae-07cb-4ee1-b1b1-67f4b24911d7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "@triggerBody()?['govcdm_virtualrecordtype']",
              "recordId": "@triggerBody()?['govcdm_virtualrecordid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "varName": {
          "runAfter": {
            "Get_Primary_Record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "38418f76-626d-44cb-bbd5-83a1cfaf5098"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varName",
                "type": "string",
                "value": "@outputs('Get_Primary_Record')?[concat('body/', variables('varPrimaryRecordDisplayField'))]"
              }
            ]
          }
        },
        "varPrimaryRecordDisplayField": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "324263ca-2807-4b80-825e-e8f4764f3ed9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varPrimaryRecordDisplayField",
                "type": "string",
                "value": "@triggerBody()?['govcdm_virtualrecorddisplayfield']"
              }
            ]
          }
        },
        "Update_Collaboration_Space": {
          "runAfter": {
            "varSharePointFolder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "df433c6c-1e5a-456e-a15d-6451a49c9da7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "govcdm_collaborationspaces",
              "recordId": "@triggerBody()?['govcdm_collaborationspaceid']",
              "item/govcdm_name": "SharePoint Folder: @{variables('varName')} ",
              "item/govcdm_sharepointfolderpath": "@variables('varSharePointFolder')",
              "item/govcdm_sharepointsite": "@variables('varSharePointSite')"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            }
          }
        },
        "varFields": {
          "runAfter": {
            "Update_Collaboration_Space": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e50f155c-87c8-4aec-8b6e-40ddc54ce035"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFields",
                "type": "object",
                "value": {
                  "msgov_CollaborationSpace@odata.bind": "/govcdm_collaborationspaces(@{triggerBody()?['govcdm_collaborationspaceid']})"
                }
              }
            ]
          }
        },
        "Update_Primary_Record": {
          "runAfter": {
            "varFields": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3a63a543-4701-4de9-acba-d601b117420f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "@triggerBody()?['govcdm_virtualrecordtype']",
              "recordId": "@triggerBody()?['govcdm_virtualrecordid']",
              "item": "@variables('varFields')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "varAutomationResponse": {
          "runAfter": {
            "Update_Primary_Record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "503d5c83-1380-464e-a0c2-376a3ffc4f5e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAutomationResponse",
                "type": "string"
              }
            ]
          }
        },
        "If_Action_Assignment_Linked": {
          "actions": {
            "Folder_Existed": {
              "actions": {
                "Reusing_Existing_Folder": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4cf1f1e8-99a0-4ede-afad-f08d8ab9d402"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varAutomationResponse",
                    "value": "Reused existing Folder <a href=''>@{variables('varName')}</a>."
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Created_New_Folder": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "1f233d4a-657f-4793-8bce-32c4d0cf0a57"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "varAutomationResponse",
                      "value": "Created new Folder <a href=''>@{variables('varName')}</a>."
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Create_SharePoint_Folder')?['exists']",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "c885ccde-201d-4411-8473-a7e19eb837a5"
              },
              "type": "If"
            },
            "Update_Action_Item": {
              "runAfter": {
                "Folder_Existed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "be2bc700-52f1-4910-81bb-9cc89d800c6a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "govcdm_actionitems",
                  "recordId": "@outputs('Update_Collaboration_Space')?['body/_govcdm_actionitem_value']",
                  "item/govcdm_actionstatus": 166840005,
                  "item/govcdm_automationresponse": "Operation Complete. @{variables('varAutomationResponse')}"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "varAutomationResponse": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@not(empty(triggerBody()?['_govcdm_actionitem_value']))",
                  "@true"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "ceaee4ad-4bec-45aa-83c2-5ea2bfe5c8fd"
          },
          "type": "If"
        },
        "varSharePointSite": {
          "runAfter": {
            "Create_SharePoint_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c1003de4-b0e1-4947-a5b6-fb12a5b7ce31"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSharePointSite",
                "type": "string",
                "value": "@triggerOutputs()?['body/govcdm_sharepointsite']"
              }
            ]
          }
        },
        "varSharePointFolder": {
          "runAfter": {
            "varSharePointSite": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "50012774-0ee8-4e2f-9dd2-e65cf224bfb8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSharePointFolder",
                "type": "string",
                "value": "/Shared Documents/@{triggerOutputs()?['body/govcdm_sharepointfolderpath']}/@{variables('varName')}"
              }
            ]
          }
        },
        "Create_SharePoint_Folder": {
          "runAfter": {
            "varName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "143910cf-51c9-4925-a68b-884da8dd9d53"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "55928d2b-0272-f011-bec2-001dd80a93b8"
            },
            "body": {
              "text_2": "@triggerOutputs()?['body/govcdm_sharepointsite']",
              "text_3": "@{triggerOutputs()?['body/govcdm_sharepointfolderpath']}/@{variables('varName')}"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}