cross-module/process-and-tasking/src/Workflows/MSF-PAT-GetAppforProcessStep-14903DCA-B78C-EF11-AC21-001DD808E57D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msgov_sharedcommondataserviceforapps_d7f8d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Process Step ID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Process_Step": {
          "runAfter": {
            "varAppName": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "govcdm_processsteps",
              "recordId": "@triggerBody()?['text']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "varAppName": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAppName",
                "type": "string"
              }
            ]
          }
        },
        "If_Data_Entry_Step_Defined": {
          "actions": {
            "Get_Data_Entry_Step": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "govcdm_dataentrysteps",
                  "recordId": "@body('Get_Process_Step')?['_govcdm_dataentrystep_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "varAppName_from_Local": {
              "runAfter": {
                "Get_Data_Entry_Step": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varAppName",
                "value": "@body('Get_Data_Entry_Step')?['govcdm_appname']"
              }
            }
          },
          "runAfter": {
            "Get_Process_Step": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_Main_Process_Step": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "govcdm_processsteps",
                    "recordId": "@outputs('Get_Process_Step')?['body/_govcdm_primaryprocessstep_value']"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                }
              },
              "Get_Main_Data_Entry_Step": {
                "runAfter": {
                  "Get_Main_Process_Step": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "govcdm_dataentrysteps",
                    "recordId": "@body('Get_Main_Process_Step')?['_govcdm_dataentrystep_value']"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                }
              },
              "varAppName_from_Main": {
                "runAfter": {
                  "Get_Main_Data_Entry_Step": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "varAppName",
                  "value": "@body('Get_Main_Data_Entry_Step')?['govcdm_appname']"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@empty(body('Get_Process_Step')?['_govcdm_dataentrystep_value'])",
                  "@false"
                ]
              }
            ]
          },
          "type": "If"
        },
        "Get_Apps": {
          "runAfter": {
            "If_Data_Entry_Step_Defined": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "appmodules",
              "$filter": "name eq '@{variables('varAppName')}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "varApp": {
          "runAfter": {
            "Get_Apps": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varApp",
                "type": "object",
                "value": "@first(outputs('Get_Apps')?['body/value'])"
              }
            ]
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "varApp": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "result": "@{variables('varApp')}"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}