modules/training-and-certification/src/Workflows/CalculateEnrollmentMetrics-E144B438-F1E6-EE11-904C-6045BD00794A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msgov_sharedcommondataserviceforapps_d7f8d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msgov_sharedcommondataserviceforapps_d7f8d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "bb886bd0-bbb3-483f-8a86-7834bda8a888"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_Training_Classes": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "df1c58e0-fc49-4d8e-a6f4-07c27b4cb478"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "govcdm_trainingclasses",
              "$select": "govcdm_trainingclassid, govcdm_name"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Training_Classes')?['body/value']",
          "actions": {
            "Set_Training_Class": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5bf1ee2d-164b-4e1a-b8a2-d92d66e3e59d"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@items('Apply_to_each')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "govcdm_name": {
                      "type": "string"
                    },
                    "govcdm_trainingclassid": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "List_Enrollees": {
              "runAfter": {
                "Set_Training_Class": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f2ae0e4e-08ce-43d3-948d-4e56715a8dfd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "govcdm_trainingcourseenrollees",
                  "$filter": "_govcdm_trainingclass_value eq '@{body('Set_Training_Class')?['govcdm_trainingclassid']}'  and govcdm_enrollmentstatus eq 166840006"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Update_Total_Enrollment": {
              "runAfter": {
                "List_Enrollees": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6c9aa355-3736-4799-9658-f9413fdd26c7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "govcdm_trainingclasses",
                  "recordId": "@body('Set_Training_Class')?['govcdm_trainingclassid']",
                  "item/govcdm_totalenrolled": "@length(outputs('List_Enrollees')?['body/value'])"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "List_Training_Classes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "07d817f2-c71f-401a-a573-df2e70ebf503"
          },
          "type": "Foreach"
        },
        "Response": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "23c193e1-e79e-4924-9d9b-d179b191ade7"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}